<?xml version="1.0"?>
<launch>
<node pkg="leap_motion" type="leap_hands" name="leap_hands" output="screen">
    <param name="frame_name" value="/leap_optical_frame" />
    <param name="publish_frame_name" value="/world" />
</node>

<node pkg="tf" type="static_transform_publisher" name="leap_link"
      args="0.30 0.0 0.02 0.0 0.0 0.0 /world /leap_optical_frame 50" />

</launch>
