<?xml version="1.0"?>
<launch>
<node pkg="leap_motion" type="leap_hands" name="leap_hands" output="screen">
    <param name="frame_name" value="world" />
    <param name="Tx" value="0.3" />
    <param name="Ty" value="-0.1" />
    <param name="Tz" value="0.12" />
    <param name="Tyaw" value="-0.3" />
    <param name="Tpitch" value="1.2" />
    <param name="Troll" value="0.9" /> <!-- order is the same as in static tf publisher -->
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find leap_motion)/launch/hands.rviz"/>

<node pkg="tf" type="static_transform_publisher" name="leap_link"
      args="0.30 -0.1 0.12 -0.3 1.2 0.9 /world /leap_optical_frame 50" />

</launch>
